*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'open sans', sans-serif;
    background-color: rgb(255, 255, 255)
}

.hero-is-primary{
    width: 100%;
    height: 300px;
    background: #373B44;
      /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(256, 91%, 50%, 0.494), hsla(280, 89%, 61%, 0.494));
      /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(260, 93%, 49%, 0.494), hsla(280, 89%, 61%, 0.494));
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size:cover ;
    background-attachment: fixed;
    position: relative;


}
.title{

    text-align: center;
}
.subtitle{
    text-align: center;
}

.tag-is-white-is-medium{
    width:10px;
    height:10px ;
    background: #cbcdd3;
    border: 1px solid #03A9; 
}
.is-active{

    color:#ffffff;
    width:30px;
    height:30px ;
    background: #1745cc;
    border: 1px solid #03A9;


}
.content.is-medium {
    font-size: 1.25rem;
}

.column.is-9{
    float: right;
    flex: none;
    width: 75%;
}
.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
}

.column.is-3{
    float: left;
    width: 300px;
    height:500px; 
    background-color:#ffffff;

}

.is-medium menu{
float: left;
width: 300px;
height:500px; 
background-color:#ffffff;
}

.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}












.titulo-principal{
    width: 90%;
    max-width: 1000px;

}
.div-registrate{

    text-align: center;
}

.contenedor{
    padding:60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.box-welcome{
    
    background-color: #00FA9A;
    border: 2px solid rgba(237, 9, 32, 0.6);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 20px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
 
}
.div-form{
    display: none;
    text-align: center;
    border: 1px solid #03A9;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 20px 0;
    border-style: dashed;
    border-width: 2px;

}

.primer-nombre{
    border-bottom: 6px solid rgba(242, 255, 0, 0.987);
    background-color: #ffffff;
}
.segundo-nombre{
    border-bottom: 6px solid rgba(0, 17, 255, 0.987);
    background-color: #ffffff;
}
.primer-apellido{
    border-bottom: 6px solid rgba(255, 0, 0, 0.987);
    background-color: #ffffff;
}
.segundo-apellido{
    border-left: 6px solid rgba(15, 179, 21, 0.987);
    background-color: #ffffff;
}



header{
    width: 100%;
    height: 600px;
    background: #373B44;
      /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(217, 89%, 61%, 0.227), hsla(222, 11%, 24%, 0.481)), url(../img/portada.jpg);
      /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(217, 89%, 61%, 0.227), hsla(222, 11%, 24%, 0.481)), url(../img/portada.jpg);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size:cover ;
    background-attachment: fixed;
    position: relative;

}



